

<form class="sign-in-form form">
  <h1 class="form-name">Sign In</h1>
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input type="email"
           id="login"
           class="fadeIn second"
           matInput [(ngModel)]="this.email"
           name="email"
    >
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input type="email"
           id="password"
           class="fadeIn third"
           matInput [(ngModel)]="this.password"
           name="password"
    >
  </mat-form-field>
  <button class="fadeIn fourth" mat-raised-button (click)="onSignIn()">Sign In</button>
</form>
