
.body-wrapper{
  background-color: #303030;
  min-height: 90vh;
  display: flex;
  justify-content: center;
}
.list-name {
  color: white;
}
.task-container {
  width: 400px;
  max-width: 100%;
  padding: 0 20px;
  display: inline-block;
  vertical-align: top;
}

.backlog-tasks {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .backlog-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .task-container{
    padding: 0;
    width: 80%;
  }
}
