

<app-action-menu
  (addTask)="openDialog()"
  (all)="allTask()"
  (my)="myTask()">
</app-action-menu>
<section class="body-wrapper">
  <div class="backlog-tasks">
    <div class="to-do-tasks task-container">
      <h2 class="list-name">To do</h2>
      <app-task-list
        listName="todo"
        [listData]="TaskList | filterList : 'OPEN'"
        [connectedLists]="['progress', 'done']"
        (updateTask)="updateTask($event)"
      ></app-task-list>
    </div>

    <div class="in-progress-tasks task-container">
      <h2 class="list-name">In Progress</h2>

      <app-task-list
        listName="progress"
        [listData]="TaskList | filterList : 'PROGRESS'"
        [connectedLists]="['todo', 'done']"
        (updateTask)="updateTask($event)"
      ></app-task-list>
    </div>
    <div class="complete-tasks task-container">
      <h2 class="list-name">Done</h2>
      <app-task-list
        listName="done"
        [listData]="TaskList | filterList : 'DONE'"
        [connectedLists]="['todo', 'progress']"
        (updateTask)="updateTask($event)"
      ></app-task-list>
    </div>
  </div>
</section>

